<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>挂载点及实例</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="vuedemo1">
        {{contents}}
        {{number}}
        <p v-text='contents'></p>
        <p v-html='number'></p>

        <p v-text='message'></p><!--h2被转义成普通文本-->

        <p v-html='message'></p>

        <div v-on:click='handleClick'>{{contents}} </div>
        <div @click='handsClick'>{{number}}</div><!--@符号简写v-on-->
    </div>
    <script>
        new Vue({
            el:'#vuedemo1',
            // template:'<h1>hello {{contents}}</h1>',
            data:{
                contents:'Hello VUE',
                number:456,
                message:'<h2>My World</h2>'
            },
            methods:{
                handleClick:function(){
                    this.contents='SubMaraMoon'
                },
                handsClick:function(){
                    this.number='I Love You'
                }
            }
        })
    </script>
</body>
</html>