<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>属性绑定及双向数据绑定</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="vuedemo2">
        <!-- 属性绑定 -->

        <div v-bind:title='title'>hello world</div>
        <div :title='title'>hello world</div><!--v-bind:简写成：-->  
        <!-- 双向数据绑定 -->
        <input v-model='content'>
        <div>{{content}}</div>
    </div>
    <script>
        new Vue({
            el:'#vuedemo2',
            data:{
                title:'this is hello world',
                content:'You are My SubMaraMoon '
            }
        })
    </script>
</body>
</html>