<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>计算属性和侦听器 </title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="vuedemo3">
            <input v-model='firstName'>
            <input v-model='lastName'>   
       <div>{{fullName}}</div>
       <div>修改次数：{{count}}</div>
    </div>
    <script>
        new Vue({
            el:'#vuedemo3',
            data:{
                firstName:'',
                lastName:'',
                count:0
            },
            computed:{
                fullName:function(){
                    return this.firstName + ' ' +this.lastName
                }
            },
            watch:{
                // firstName:function(){
                //     this.count++
                // },
                // lastName:function(){
                //     this.count++
                // }
                fullName:function(){
                    this.count++
                }
            }
        })
    </script>
</body>
</html>