<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-if/v-show/v-for 指令 </title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="vuedemo4">
        <div v-if='show' id="1">Love SubMaraMoon</div><!--V_if是直接清除Dom节点来达到隐藏的效果-->
        <div v-show='show' id="2">Love SubMaraMoon</div><!--V_show是修改diplay:none/block来达到隐藏的效果-->
        <button @click='Handclick'>toggle</button>

        <ul>
            <li v-for="(item,index) of lists" ::key="index">{{item}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el:'#vuedemo4',
            data:{
                show:true,
                lists:['我','爱','你']
            },
            methods:{
                Handclick:function(){
                    this.show=!this.show
                }
            }
        })
    </script>
</body>
</html>