<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件与实例的关系 </title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="vuedemo5">
        <div>
            <input v-model='InputValue'/>
            <button @click='handleSubmit'>提交</button>
        </div>
        <ul>
            <!-- <li v-for='(item,index) of list'>{{item}}</li> -->
            <todo-item  v-for="(item,index) of list" ::key="index" :content='item'></todo-item>
        </ul>
    </div>
    <script>

        Vue.component('todo-item',{
            props:['content'],  //--->props 接受属性content，既是组件的简单通讯
            template:'<li @click="handleClick">{{content}}</li>',
            methods:{
                handleClick:function(){
                    alert('clicked')
                }
            }
        })  //全局组件



        // 实例
        new Vue({
            el:'#vuedemo5',
            data:{
                InputValue:'',
                list:[]
            },
            methods:{
                handleSubmit:function(){
                    this.list.push(this.InputValue);
                    this.InputValue=''
                }
            }        
        })
    </script>
</body>
</html>